/* = .aktuality
---------------------------------------------------------------------------------------------------*/
.aktuality { width: 80%; margin: 0 auto; padding: 5px 0 0 0;text-align: left; }
.aktuality .item { width: 100%; float: left; margin: 0 0 10px 0; position: relative}
.aktuality .item a { border:none; }
.aktuality .item img,
.aktuality .item .image { width: 20%; height: auto; float: left; margin: 0 13px 20px 0;  }
.aktuality .item .itemContent { width: 77%; float: left; }
.aktuality p { margin: 0;font-size:14px;text-align:justify;color:#fff; }
.aktuality .item h3 { font-size: 18px;color:currentColor;margin:0; }

.moreImagesHint { border: 1px solid red;}

.lupa { width: 103px; height: 64px; position: absolute;}
.lupa-visible {/* background-image: url(images/lupa.png); background-position: 70px 35px; background-repeat: no-repeat;*/}

div.aktuality-image-attachments {
    position: absolute;
    font-size: 10px;
    color: #999;
    top: 70px;
    width: 100px;
    text-align: right;
    z-index: 99;
	display:none;
}
.ukaz-viacej-aktualit { position:relative; background:#9BC008;padding:25px 55px;margin:25px 0;float: left; width: 100%;cursor:pointer; }
.ukaz-viacej-aktualit p { color:white; }
.dalsia-aktualita { display:none; }

.textRight a { color:#1548B5;text-decoration:none; }

.more_img { position:absolute;left:0;width: 20%; height: 100%; }
.more_img a { position:absolute;left:0;width: 100%; height: 100%; }